CI_ENVIRONMENT = development

app.baseURL = 'http://localhost:8080/'

database.default.hostname = db
database.default.database = task_organizer
database.default.username = task_organizer
database.default.password = task_organizer
database.default.DBDriver = MySQLi
database.default.port = 3306
